{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "no-console": "error",
    "quotes": ["error", "single"],
    "no-debugger": "warn",
    "no-alert": "warn",
    "no-duplicate-imports": "error",
    "max-len": ["error", {
      "code": 120
    }],
    "prefer-const": "error",
    "no-var": "error",
    "import/order": ["warn", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
    }],
    "no-unused-vars": "warn"
  },
  "plugins": [
    "prettier"
  ]
}